<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Book-Store</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">  
 
</head>
<body style="margin-top: 50px; margin-left: 25px; margin-right: 25px;">
	<h1 style="text-align:center;">Book Store</h1>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>ISBN</th>
			<th>Year</th>
			<th>Price</th>
			<th>Category</th>
			<th>Action</th>
			<th sec:authorize="hasRole('ADMIN')"> </th>
			<th sec:authorize="hasRole('USER')"> </th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.year}"></td>
			<td th:text="${book.price}"></td>
			<td th:text="${book.category.name}"></td>
			<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>&nbsp;<a class="btn btn-primary" th:href="@{/editBook/{id}(id=${book.id})}">Edit</a></td>
			
		</tr>
		
		
	</table>
	
	<a class="btn btn-success" href="/addBook" role="button">Add Book</a>
	
</body>

</html>
